@media (max-width:500px ){
    header{
        min-height: 250px !important;
    }
    header img{
        height: 25px!important;
    } 
    .userfield h3{
        font-size: 1em !important;
    color:white;
    }
    .userfield input{
        min-height: 40px;
        max-height: 40px !important;
        min-width: 100px;
        max-width: 150px !important;
    }
    .userfield p{
        color: white;
        font-size: 1em !important;
    }
    .carinfo{
        padding: 20px;
        width: 100%;
        background-color: deepskyblue;
    }
    .carinfo p{
        color: white;
        font-size: 1em !important;
    }
    .carinfo label{
        font-size: 1em !important;
        color: white;
    }
    .carinfo select{
        display: block !important;
        min-height: 40px;
        max-height: 40px !important;
        min-width: 200px;
        max-width: 350px;;
    }
    .white{
        width: 100%;
        height: 5px;
        background-color: white;
    
    }
    .red{
        width: 100%;
        height: 5px;
        background-color: darkred;
    }
    .basicinfo{
        padding: 20px;
        background-color: deepskyblue;
        width: 100%;
        height: 350px;
    }
    .basicinfo input{
        min-height: 40px;
        max-height: 40px !important;
    }
    .basicinfo p{
        color: white;
        font-size: 1em !important;
    
    } 
    .basicinfo label{
        
        display: block !important;
        color: white;
        font-size: 1em !important;
    }
    .basicinfo textarea{
        min-height:60px;
        max-height: 500px;
    }
    input{
        font-size: 1em !important;
    
    }
    textarea{
        width: 95%;
        font-size: 1em !important;
    }
    .marka{
        font-size: 1em !important;
    }
    .save{
        display: block;
        width: 100px;
        min-height: 50px;
        height: 45px !important;
        font-size: 1em !important;
        border-radius: 15px;
    }
    .right{
        background-color: white;
        float: left !important;
        left: 0px !important;
        
    }
    .left{
        
        float: left;
    }
    .list{
        
        display: inline;
        width: 100px;
        min-height: 50px;
        
        font-size: 1em !important;
        border-radius: 15px;
        
        bottom: 45px !important;
    }
    .totalRIght{
        height: 1600px;
        width: 0% !important;
        float:right;
    }
    .visib{
        border-radius: 20px;
        left: 20px !important;
        background-color: red;
        height: 220px;
        position: absolute;
        top: 750px !important;
        z-index: 100;
        display: block;
        opacity: 1;
        width: 200px !important;
        text-align: center;
    }
    .visib h4{
        font-size: 2em !important;
        color: white;
        text-align: center;
    }
    .visib button{
        
        height: 50px;
        width: 50px !important;
    }
    .visib2{
        border-radius: 20px;
        left: 20px !important;
        background-color: rgb(240, 157, 49);
        height: 220px;
        position: absolute;
        top: 950px !important;
        z-index: 100;
        display: block;
        opacity: 1;
        width: 220px !important;
        text-align: center;
    }
    .moreright{
        float: left !important;
        font-size: 1.5em ;
        background-color: rgb(236, 119, 83);
    }
}
@media (max-width:900px ){
    header img{
        height: 35px!important;
    } 
    .totalRIght{
        height: 1600px;
        width:10% !important;
        float:right;
    }
    .right{
        float: left;
    }
}

header{
    min-height: 50px;
    max-height: 125px;
    background-color: dodgerblue;
    width: 100%;
    padding: 20px;
}
header h1{
    color: white;
     
}
header img{
    height: 55px;
}
.userfield{
    width: 100%;
    padding: 20px;
    background-color: deepskyblue;

}
.userfield h3{
    font-size: 1.5em;
color:white;
}
.userfield input{
    min-height: 40px;
    max-height: 60px;
    min-width: 1s00px;
    max-width: 350px;
}
.userfield p{
    color: white;
    font-size: 1.5em;
}
.carinfo{
    padding: 20px;
    width: 100%;
    background-color: deepskyblue;
}
.carinfo label{
    font-size: 1.5em;
    color: white;
}
.carinfo select{
    min-height: 40px;
    max-height: 60px;
    min-width: 200px;
    max-width: 350px;;
}
.white{
    width: 100%;
    height: 5px;
    background-color: white;

}
.red{
    width: 100%;
    height: 5px;
    background-color: darkred;
}
.basicinfo{
    padding: 20px;
    background-color: deepskyblue;
    width: 100%;
    height: 350px;
}
.basicinfo input{
    min-height: 40px;
    max-height: 70px;
}
.basicinfo p{
    color: white;
    font-size: 1.5em;

} 
.basicinfo label{
    color: white;
    font-size: 1.5em;
}
.basicinfo textarea{
    min-height:60px;
    max-height: 500px;
}
input{
    font-size: 1.5em;

}
textarea{
    width: 100%;
    font-size: 1.5em;
}
.marka{
    font-size: 1.5em;
}
.save{
    display: block;
    width: 100px;
    min-height: 50px;
    height: 75px;
    font-size: 1.5em;
    border-radius: 15px;
}
.right{
    background-color: navajowhite;
    float: left;
    position: relative;
    left: 40px;
    
}
.left{
    
    float: left;
}
.list{
   
    
    width: 400px;
    min-height: 50px;
    
    font-size: 1.5em;
    border-radius: 15px;
    
    
}
.carinfo p{
    color: white;
    font-size: 1.5em ;
}
.right p{
    font-size: 1.5em;
}
.trazi{
    height: 100px;
    border-radius: 15px;
    font-size: 1.5em;
    min-width:100px; 
}
.totalRIght{
    height: 1600px;
    width: 25%;
    float:right;
    width: 100%;
}
.users{
    border: 3px solid black;
}
.users2{
    border: 3px solid black;
    
}
.warn{
    position: absolute;
    top: 250px;
    z-index: 100;
    display: none;
    opacity: 0;
    width: 300px;
}
.visib{
    border-radius: 20px;
    left: 300px;
    background-color: red;
    height: 220px;
    position: absolute;
    top: 950px;
    z-index: 100;
    display: block;
    opacity: 1;
    width: 300px;
    text-align: center;
}
.visib h4{
    font-size: 2em;
    color: white;
    text-align: center;
}
.visib button{
    
    height: 50px;
    width: 150px;
}
.moreright{
    float: right;
    font-size: 1.5em ;
    background-color: rgb(236, 119, 83);
}
.warn2{
    position: absolute;
    top: 250px;
    z-index: 100;
    display: none;
    opacity: 0;
    width: 300px;
}
.visib2{
    border-radius: 20px;
    left: 300px;
    background-color: rgb(240, 157, 49);
    height: 220px;
    position: absolute;
    top: 250px;
    z-index: 100;
    display: block;
    opacity: 1;
    width: 300px;
    text-align: center;
}
.visib2 button{
    
    height: 50px;
    width: 150px;
}
.visib2 h4{
    font-size: 2em;
    color: white;
    text-align: center;
}